#All_book .book-area .book-content .book-title h6 {
  font-size: 15px;
  background-color: #eb6a1f;
  padding: 5px 10px;
  margin-top: 10px;
  color: white;
  width: 110px;
  border-radius: 4px;
}

#All_book .book-area .book-content .book-title {
  padding: 8px 15px;
}